.item {
  background-color: var(--color-1);
  padding: 40px 20px;
  color: var(--color-2);
  border-radius: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.item:where(:hover, :focus) {
  opacity: 0.85;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
